<div class="header">
  <h1 style="font-size: 3rem; text-align: center; color: #1d7add; text-shadow: 2px 2px gray">ボタンリスト</h1>
</div>

<div class="contents-wrapper">
  <p><%= link_to "ボタン1", "#", class: "btn button1" %><span class="regular_font">基準</span></p><div class="border"></div>

  <p><%= link_to "ボタン2", "#", class: "btn button2" %><span class="regular_font">ぼかし 全方位</span></p><div class="border"></div>

  <p><%= link_to "ボタン3", "#", class: "btn button3" %><span class="regular_font">影 下と右</span></p><div class="border"></div>

  <p><%= link_to "ボタン4", "#", class: "btn button4" %><span class="regular_font">影 下と右+ぼかし</span></p><div class="border"></div>

  <p><%= link_to "ボタン5", "#", class: "btn button5" %><span class="regular_font">影 内側 下と右</span></p><div class="border"></div>

  <p><%= link_to "ボタン6", "#", class: "btn button6" %><span class="regular_font">影 下とテキスト</span></p><div class="border"></div>

  <p><%= link_to "ボタン7", "#", class: "btn button7" %><span class="regular_font">影 左上内側と右下外側</span></p><div class="border"></div>

  <p><%= link_to "ボタン8", "#", class: "btn button8" %><span class="regular_font">影 左上内側と右下外側2</span></p><div class="border"></div>

  <p><%= link_to "ボタン9", "#", class: "btn button9" %><span class="regular_font">ぼかし 内側全方位</span></p><div class="border"></div>

  <p><%= link_to "ボタン10", "#", class: "btn button10" %><span class="regular_font">影 下と右 + ぼかし + 透過度調整</span></p><div class="border"></div>

  <p><%= link_to "ボタン11", "#", class: "btn button11" %><span class="regular_font">hoverで凹む</span></p><div class="border"></div>

  <p><%= link_to "ボタン12", "#", class: "btn button12" %><span class="regular_font">hover時大きく</p><div class="border"></div>

  <p><%= link_to "ボタン13", "#", class: "btn button13" %><span class="regular_font">hover時小さく + 凹む</p><div class="border"></div>

  <p><%= link_to "ボタン14", "#", class: "btn button14" %><span class="regular_font">hover時背景とテキストの色反転</p><div class="border"></div>

  <p><%= link_to "ボタン15", "#", class: "btn button15" %><span class="regular_font">hover時二重の影 右と下 border + box-shadow</p><div class="border"></div>

  <div class="round-box">
    <%= link_to "ボタン16", "#", class: "btn button16" %>
    <div class="regular_font">hover時360度回転</div>
  </div>
  <div class="border"></div>

  <div class="round-box">
    <div><%= link_to "ボタン17", "#", class: "btn button17" %></div>
    <div class="regular_font">hover時180度回転で文字位置反転</div>
  </div>
  <div class="border"></div>

  <div class="round-box">
    <div class="gear2 positon">
      <div class="gear positon">
        <%= link_to "18", "#", class: "button18" %>
      </div>
    </div>
    <div class="regular_font2">hover時歯車回転</div>
  </div>
  <div class="border"></div>

  <p><%= link_to "ボタン19", "#", class: "btn button19" %><span class="regular_font">2色グラデーション 下から上</p><div class="border"></div>

  <p><%= link_to "ボタン20", "#", class: "btn button20" %><span class="regular_font">4色グラデーション 下から上</p><div class="border"></div>

  <p><%= link_to "ボタン21", "#", class: "btn button21" %><span class="regular_font">2色グラデーション 内から外</p><div class="border"></div>

  <p><%= link_to "ボタン22", "#", class: "btn button22" %><span class="regular_font">4色グラデーション 内から外</p><div class="border"></div>

  <p><%= link_to "ボタン23", "#", class: "btn button23" %><span class="regular_font">2色グラデーション 透過度設定 ホバー時色強め</p><div class="border"></div>

  <p><%= link_to "ボタン24", "#", class: "btn button24" %><span class="regular_font">2色グラデーション 縦線</p><div class="border"></div>

  <p><%= link_to "ボタン25", "#", class: "btn button25" %><span class="regular_font">2色グラデーション 斜め</p><div class="border"></div>

  <p><%= link_to "ボタン26", "#", class: "btn button26" %><span class="regular_font">2色チェック柄</p><div class="border"></div>

  <p><%= link_to "ボタン27", "#", class: "btn button27" %><span class="regular_font">テキストとborderに色</p><div class="border"></div>

  <div><span class="btn frame28"><%= link_to "ボタン28", "#", class: "btn button28"%></span><span class="regular_font3">枠グラデーション hover時背景グラデーション</span><div class="border"></div></div>

  <p><%= link_to "ボタン29", "#", class: "btn button29" %><span class="regular_font">時間で色変化</p><div class="border"></div>

  <p><%= link_to "30", "#", class: "btn button30" %><div class="regular_font4">360度回転</div><div class="border"></div></p>

  <p><%= link_to "31", "#", class: "btn button31" %><div class="regular_font4">平行移動</div><div class="border"></div></p>

  <p><%= link_to "32", "#", class: "btn button32" %><div class="regular_font4">ジグザグ移動</div><div class="border"></div></p>

  <p><%= link_to "33", "#", class: "btn button33" %><div class="regular_font4">伸びるボタン</div><div class="border"></div></p>
</div>
